<div class="page-wrapper">

  <h1>Profile</h1>

  {{#if message}}{{message}}{{/if}}

  {{#with user}}
  {{#if imagePath}}
  <img class="profile-pic" src="{{imagePath}}" alt="">
  <p><a href="/profile/upload">Edit you profile pic</a></p>
  {{else}}
  <p><a href="/profile/upload">Add a profile Pic</a></p>
  {{/if}}
  <h2>name: {{name}}</h2>
  <h3>email: {{email}}</h3>
  <h3>City: <span class="connection-city">{{city}}</span></h3>
  <p>Programming level: {{level}}</p>
  <p>Interests: {{#each interests}}{{this}}{{/each}}</p>

  <p>Github: {{githubUrl}}</p>
  <p><a class="style-button" href="/profile/edit"> Edit your profile</a></p>
  {{/with}}
</div>