<div class="page-wrapper profile-page">
  <div class="main-profile-structure">

    <h2 class="title">My Profile</h2>

    {{#if message}}{{message}}{{/if}}

    {{#with user}}
    <div class="content-container profile-card">
      <div class="user-profile row">

        <div class="personal-profile col-sm-6">
          <img class="profile-pic" src="{{imagePath}}" alt="">

          <h3 class="user-name">Name: <span class="this-capitalize">{{name}}</span></h3>
          <p class="user-name">Email: {{email}}</p>
          <p class="user-name">Github: {{githubUrl}}</p>
          <p class="user-name">City: <span class="this-capitalize">{{city}}</span></p>
        </div>


        <div class="biz-side col-sm-6">
          <h4 class="user-name">Programming level: <span class="this-capitalize">{{level}}</span></h4>
          <p class="user-name">Interests: {{#each interests}}<span class="this-capitalize">{{this}} </span>{{/each}}
          </p>
          <h3 class="user-name">Your bio</h3>
          {{!-- {{#if bio}} --}}
          {{#if bio}}
          {{!-- {{#else}} --}}
          <div class="text-center">
            <div class="user-name bio text-center">
              <p>{{bio}}</p>
            </div>

            {{else}}
            <p class="user-name text-center">Time to add your bio :) Edit your profile and get craft a stunning
              presentation.</p>
            {{/if}}
          </div>
          {{!-- {{/unless}} --}}
        </div>

      </div>
    </div>
    <div class="edit-profile text-center">
      <a class="style-button text-center" id="edit-profile" href="/profile/edit"> Edit your profile</a>

    </div>
    {{!-- <p class="edit-profile"></p> --}}
  </div>
</div>
{{/with}}