<div class="page-wrapper">
  <h1 class="connections-page">Your connections</h1>
  <div class="form">
    <form action="/connections/add" method="post" class="add-form">
      {{#if message}}
      <h4> {{message}}</h4>
      {{/if}}
      <button type="submit" class="style-button form-button my-5">Add a connection</button>
    </form>
  </div>
  {{!-- Each Card --}}
  {{#each connections}}
  <div class="connection-card content-card content-container" style="cursor: pointer;"
    onclick="window.location='/connections/{{id}}';">

    <div class="connection-content">
      <h4 class="connection-name">{{name}}</h4>
      <h5 class="connection-city">City: <span class="this-capitalize">{{city}}</span></h5>
      <p class="connection-interests">Interests: <span class="this-capitalize">{{interests}}</span></p>
    </div>

    <div class="connection-photo">
      <img src=" {{imagePath}}" alt="" style="height: 100%" width="100%">
    </div>
  </div>
  {{!-- </a> --}}
  {{!-- </a> --}}
  {{/each}}
</div>