<div class="page-wrapper profile-page">
  <div class="main-profile-structure">
    {{#with user}}
    <h1>Hey {{name}}!</h1>


    <h3>Like we do every week, we would love to introduce you to someone that we believe you can certainly learn a lot
      from and with.</h3>
    {{/with}}
    {{#with indiUser}}
    <div class="content-container profile-card">
      <div class="user-profile">

        <div class="personal-profile">
          <img class="profile-pic" src="{{imagePath}}" alt="">

          <h2 class="user-name">Name: User <span class="this-capitalize">{{name}}</span></h2>
          <p>Email: {{email}}</p>
          <div class="text-center">

            {{#if githubUrl}}
            {{!-- {{#else}} --}}
            <p>Github: {{githubUrl}}</p>
            {{else}}
            <p>Your new connection hasn't had the chance to add the Github link.</p>
            {{/if}}
          </div>
          <p>City: <span class="this-capitalize">{{city}}</span></p>
        </div>

        <div class="biz-side">
          <h2 class="user-name">Programming level: <span class="this-capitalize">{{level}}</span></h2>
          <p class="user-name">Interests: {{#each interests}}<span class="this-capitalize">{{this}} </span>{{/each}}
          </p>
          <h2 class="user-name">Your bio</h2>
          {{!-- {{#if bio}} --}}
          {{#if bio}}
          {{!-- {{#else}} --}}
          <div class="bio">
            <p>{{bio}}</p>
          </div>

          {{else}}
          <div class="bio">
            <p>Your new connection still hasn't added any bio.</p>
          </div>
          {{/if}}
          {{!-- {{/unless}} --}}
        </div>


        {{!-- <h3>{{name}}</h3>
        {{#if imagePath}}
        <img src="{{imagePath}}" alt="">
        {{/if}}
        <h3>email: {{email}}</h3>
        <h3>City: <span class="connection-city">{{city}}</span></h3>
        <p>Programming level: {{level}}</p>
        <p>Interests: {{#each interests}}|{{this}}|{{/each}}</p> --}}

        {{/with}}