<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>
  <header class="user-header">
    {{#with user}}
    {{#if imagePath}}
    <img class="profile-pic" src="{{imagePath}}" alt="">
    {{else}}
    {{/if}}
    <div>
      <p class="nav-welcome">Welcome, {{name}}!</p>
    </div>
    <nav>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/user/pinned">Pinned</a>
      <a class="nav-link" href="/profile">Profile</a>
      <a class="nav-link" href="/connections">Connections</a>
      <a class="nav-link" href="/auth/logout">Logout</a>
      {{!-- {{/if}} --}}
    </nav>
    {{/with}}
  </header>
  {{{body}}}

</body>

</html>