{{#each newsList}}
<div class="news-container">
  <div class="news-container-left">
    <a href="{{url}}">
      <h3>{{title}}</h3>
    </a>
    <h4>{{source.name}} - {{publishedAt}}</h4>
    <p>{{content}}</p>
  </div>
  <div class="news-container-right">
    <img src="{{urlToImage}}" alt="illustration">
  </div>
  <div class="pin-this">Pin this</div>
</div>
{{/each}}
<script src="javascripts/feed.js"></script>