<div class="page-wrapper">
  {{#each newsList}}
  <div class="news-container">
    <a href="{{url}}" target="blank" class="news-container-left">
      <h3>{{title}}</h3>
      <h4>{{source.name}} - {{publishedAt}}</h4>
      <p>{{content}}</p>
    </a>
    <div class="news-container-right">
      <img src="{{urlToImage}}" alt="illustration">
    </div>
    {{#if pinned}}
    <button class="btn-pin" onclick="removeElement(event, {{@index}})">Remove this</button>
    {{else}}
    <button class="btn-pin" onclick="pinElement(event, {{@index}})">Pin this</button>
    {{/if}}
  </div>
  {{/each}}
</div>
<script src="/javascripts/feed.js"></script>