{{#each newsList}}
<div class="news-container">
  <div class="news-container-left">
    <a href="{{url}}">
      <h3>{{title}}</h3>
    </a>
    {{!-- {{#if source}}{{source.name}}{{/if}} --}}
    <h4> - {{publishedAt}}</h4>
    <p>{{content}}</p>
  </div>
  <div class="news-container-right">
    <img src="{{urlToImage}}" alt="illustration">
  </div>
  {{#if pinned}}
  <form action="/user/remove/{{@index}}" method="POST">
    <button type="submit">Remove item {{@index}}</button>
  </form>
  {{else}}
  <form action="/user/pin/{{@index}}" method="POST">
    <button type="submit">Pin item {{@index}}</button>
  </form>
  {{/if}}
</div>
{{/each}}