<h1>Profile</h1>
{{#with user}}
<h2>name: {{name}}</h2>
<h3>email: {{email}}</h3>
<h3>City: {{city}}</h3>
<p>Programming level: {{level}}</p>
<p>Interests: {{#each interests}}|{{this}}|{{/each}}</p>
<p>Are you open to connect to other users and be/get a mentor:{{mentorship}}</p>
{{/with}}